@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(44, 44, 138, 1) 51%,
    rgba(13, 163, 221, 1) 90%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
